*{
   margin: 0px;
  padding: 0px;
  box-sizing: border-box;
    font-family: "inter";
}

#titulo-menusuperior{
    padding: 25px 50px 75px 100px;
  
}

#paragrafo-menusuperior{
    padding: 0px 5px 75px 100px;
 
    
}
#menu-superior{
    margin: 0px;
    background-color: #303030;
    color: white;
  
}

#menu-informativo{
  margin-top: 1rem;
    width: 100%;
    padding: 2rem;
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 1em;
}

#info{
   margin: 0px;
    padding: 150px 161px;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    
  }

  #imagen{
    Width: 510px
  
  }

  #formulário{
    background-color: #303030;
    padding-top: 140px;
    padding-right: 30px;
    padding-left: 700px;
    padding-bottom: 140px;

  }

  #titulo-formulario{
    margin: 25px;
    font-size: 25px;
    color: white;
  }

  input{
    margin: 15px;
    height: 41px;
    width: 400px;
    padding-left: 15px;
    border-radius: 5px;
    background-color: #FFFFFF; 
    border: 0px;
}    

button{
  margin-left: 80px;
      background-color: #C07212;
    width: 250px;
    height: 41px;
    font-weight: bolder;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    color: #FFFFFF;
    box-shadow: 3px 2px 1px #b8884f;
}
 button:hover{
    background-color: #C07212;
    color: rgb(248, 245, 245);
    transform: translateY(-7px)
 }